* {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}
html,
body {
  background: BLACK;
  color: WHITE;
  height: 100%;
  width: 100%;
  position: absolute;
  display: table;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 18pt;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  height: 3em;
}
main {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
main ul {
  margin: 0 auto;
  list-style-type: none;
}
.stack {
  display: inline-block;
  vertical-align: top;
  width: 6em;
  height: 9.4em;
}
.stack {
  position: relative;
  z-index: 0;
}
.card {
  z-index: 1;
}
.stack-count {
  position: absolute;
  top: 4.2em;
  left: 0.1em;
  width: 1.6em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 16pt;
  color: gray;
  border-radius: 1em;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;
}
.stack .card,.action-card {
  position absolute;
}
.card, .deck, .discard {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  text-color: inherit;
  width: 6em;
  height: 9.2em;
  padding: 0;
}
.supply {
  padding: 0.7em;
}
.supply, .hand, .play, .buying {
  border-radius: 0.6em;
  border: 1px solid white;
  min-height: 11em;
}
.play, .buying {
  display: inline-block;
  overflow: hidden;
  min-height: 9em;
}
.buying .card-text,
.play .card-text {
  font-size: 9pt;
}
.buying .card,
.play .card {
  font-size: 9pt;
}

.play {
    width: 69%;
}
.buying {
    width: 29%;
}
.deck {
  width: 4em;
  height: 6em;
  margin: 1em;
}
.discard {
  width: 4em;
  height: 6em;
  margin: 1em;
}
.card-text {
  height: 1.1em;
}
.card-name {
  min-height: 2.2em;
  font-weight: bold;
}
.hand-info {
  display: inline-block;
  width: 6em;
}
.action-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 1px solid red;
  background-color: red;
}
.no-action-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 1px solid black;
  background-color: black;
}
.victory-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 2px solid lightgreen;
  background-color: lightgreen;
}
.no-victory-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 2px solid black;
  background-color: black;
}
.treasure-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 3px solid yellow;
  background-color: yellow;
}
.no-treasure-card {
  display: inline-block;
  border-radius: 0.6em;
  border: 3px solid black;
  background-color: black;
}
.card-victory-points:not(:empty) {
  background: lightgreen;
}
.active {
  background-color: white;
  color: black;
}
.active.waiting {
  border: 3px solid darkgray;
  background-color: darkgray;
}
button {
  padding: 0.5em;
  border-radius: 0.6em;
}
.next-phase {
  background-color: white;
  font-weight: bold;
  width: 54%;
  border-color: black;
}
.waiting .next-phase {
  background-color: darkgray;
  font-weight: normal;
}
.card-treasure:not(:empty) {
  background: yellow;
}
.supply .can-buy .card {
  background-color: white;
}
.to-keep {
  background-color: white;
}
.to-trash {
  background-color: red;
}
.supply .cant-buy .card {
  background-color: darkgray;
}
.hand .can-play.card {
  background-color: white;
}
.hand .cant-play.card {
  background-color: darkgray;
}
.stats {
  margin: 0.2em;
  padding-left: 3em;
}
.stat {
  font-weight: bold;
  text-align: left;
}
.menu-item svg {
  width: 4em;
  height: 4em;
  fill: #00c6b7;
}
.menu-item :hover {
  color: #00c6b7;
}

